// Colors
$dimGray: #575757;
$sandyOrange: #fba24f;
$brightRed: #ff1e1e;
$coolGray: #828282;
$mediumGray: #707070;
$deepCharcoal: #18191f;
$darkCharcoal: #252525;
$slateGray: #676767;
$midnightBlack: #0b0d17;
$ashGray: #5b5b5b;
